<section class="vh-100">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-md-8 col-lg-6 col-xl-4">
        <h3 class="mb-4 pb-2 fw-normal">Weather forecast</h3>
        <form [formGroup]="weatherForm" (ngSubmit)="submit()">
          <input type="text" formControlName="city" />
          <br /><br />
          <button type="submit">submit</button>
        </form>
        <br />
        <div class="card shadow-0 border">
          <div class="card-body p-4">
            <h4 class="mb-1 sfw-normal">{{ cityName }}</h4>
            <h5 class="mb-2">
              Current temperature: <strong>{{ temp }}</strong>
            </h5>

            <h6>
              Max: <strong>{{ maxTemp }}</strong><br>
              Min: <strong>{{ minTemp }}</strong><br>
              Humidity:<strong>{{ humidity }}</strong><br>
            </h6>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
